@font-face {
  font-family: 'Press Start 2P';
  src: url('../assets/fonts/press_start_2p/PressStart2P.ttf');
}

$background-image-canvas-container: url("../assets/media/img/canvas-bg-wimmel.png");

$colors: (
    color0: #454545,
    color1: #329694,
    color2: #d7a3d5e6,
    color3: #a08888,
    color4: #b0a5ae,
    color5: #858585,
    color7: #EB8C80,
    color8: #266b60,
    color10: #4e7b7b,
);
@mixin pixel-gradient($colors) {
    background: linear-gradient(
        to bottom,
        map-get($colors, color0) 0%,
        map-get($colors, color1) 9.28%,
        map-get($colors, color2) 18.28%,
        map-get($colors, color4) 31.56%,
        map-get($colors, color3) 42.84%,
        map-get($colors, color5) 50.84%,
        map-get($colors, color10) 59.12%,
        map-get($colors, color8) 72.4%,
        map-get($colors, color7) 84.68%,
        map-get($colors, color3) 96.84%,
        map-get($colors, color0) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 100% 100%;
    background-position: 0 0;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  overflow: hidden;
}

.canvas-layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #52396a;
}

#canvas-container {
  width: 100%;
  height: 100%;
  max-width: 3840px;
  max-height: 2160px;
  border: 5px solid #52396a;
  border-radius: 5px;
  image-rendering: pixelated;
  overflow: hidden;
  background-color: rgb(255, 249, 240);
}
