@font-face {
  font-family: "PressStart2P";
  src: url("../assets/fonts/press_start_2p/PressStart2P.ttf") format("truetype");
}

$colors: (
  color0: #807a7a,
  color1: #329694,
  color2: #ebd1e9e6,
  color3: #ebc6c6,
  color4: #e3d3e0,
  color5: #ffffff,
  color7: #eb8c80,
  color8: #278273,
  color10: #5f9695,
);

@mixin pixel-gradient($colors) {
  background: linear-gradient(
    to bottom,
    map-get($colors, color0) 0%,
    map-get($colors, color1) 9.28%,
    map-get($colors, color2) 18.28%,
    map-get($colors, color4) 31.56%,
    map-get($colors, color3) 42.84%,
    map-get($colors, color5) 50.84%,
    map-get($colors, color10) 59.12%,
    map-get($colors, color8) 72.4%,
    map-get($colors, color7) 84.68%,
    map-get($colors, color3) 96.84%,
    map-get($colors, color0) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 100% 100%;
  background-position: 0 0;
}

.home {
  @import url(https://fonts.bunny.net/css?family=actor:400|gluten:600);
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

.body {
  /*background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(251,236,224,0.6334908963585435) 50%, rgba(245,207,176,0.4682247899159664) 100%);
    */
  background-color: #f5cfb0;
  width: 100vw;
}

/*-----------------------------------------------------Header-----------------------------------------------------------------*/

.headerDiv {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
}

.first {
  position: relative;
  width: 55vw;
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.603);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 2;
}

.second {
  background-image: url(/images/pixel.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40em;
  margin-top: 18%;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  width: 51vw;
  height: 40vh;
  background-color: #d1655bc2;
  margin-left: -7vw;
  z-index: 1;
  padding: 0;
}

.play {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #ffff;
  width: 7vw;
  height: 7vw;
  background-color: #d1645b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}

.play:hover {
  background-color: #2e8c7c;
}

.playFont {
  font-family: "Actor", sans-serif;
  margin-top: 10%;
  color: #ffff;
  text-align: center;
  font-size: calc(0.5rem + 1vw);
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}

#title {
  color: #f5cfb0;
  font-size: calc(1rem + 14vw);
  font-family: "Gluten", display;
  text-align: center;
  text-shadow: 4px 3px darkgray;
  margin-bottom: 1em;
  margin: -1%;
}

#catchphrase {
  font-size: calc(0.5rem + 1vw);
  color: #f5cfb0;
  font-family: "Actor", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

#titlePixel {
  font-family: "Gluten", display;
  text-align: center;
  color: #329694;
  font-size: calc(1rem + 9vw);
  text-shadow: 4px 3px rgba(0, 0, 0, 0.678);
  margin-bottom: 1rem;
  margin: 1%;
}

#titleWars {
  font-family: "Gluten", display;
  text-align: center;
  color: #f5cfb0;
  font-size: calc(1rem + 9vw);
  text-shadow: 4px 3px rgba(0, 0, 0, 0.678);
  margin-top: 0;
}

/*-------------------------------------------------------Main-------------------------------------------------------------------*/

.overview {
  font-family: "Actor", sans-serif;
  margin-top: 5%;
  color: #ffff;
  text-align: center;
  font-size: calc(1rem + 4vw);
  letter-spacing: 0.1em;
}

main {
  position: relative;
  z-index: 3;
}

.container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*-----------------------------------------------------Div Button-----------------------------------------------------------------*/

.side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  position: relative;
}
.home h1 {
  font-family: "PressStart2P", sans-serif;
  font-size: 2rem;
  filter: drop-shadow(0px 0px 1px #320000);
  @include pixel-gradient($colors);
  text-align: center;
  padding: 0;
  margin: 1em;
}

.home h2 {
  font-family: "PressStart2P", sans-serif;
  text-align: center;
  padding: 1em;
  font-size: 2rem;
}
