@font-face {
  font-family: 'PressStart2P';
  src: url('../assets/fonts/press_start_2p/PressStart2P.ttf') format('truetype');
}

$url: '../assets/fontImage/abstract-pixel-background-8793634.jpg';

.home{
    display: flex;
    flex-direction: column;
}

.home h1{
        font-family: 'PressStart2P', sans-serif;
        background: url($url); ;
        background-size: contain;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        text-align: center;
        padding: 1em;
        font-size: 2rem;
}
