// Login Styling
.loginwrap {
  font-family: 'Arial', sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Krona One', sans-serif;
}
// Box für Login und Signup
.formwrap {
  margin-top: 50px;
  margin-bottom: 75px;
  width: 350px;
  height: 550px;
  overflow: hidden;
  background-image: url(../img/pixel.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  position: relative;

}

// Nachrichtenbox für Erfolg oder Fehler
.message {
width: 100%;
height: 100%;
color: black;
text-shadow: 1px 1px 2px #6d7f5584;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 20px;
box-sizing: border-box;
transition: 0.5s ease-in-out;
margin-bottom: 10px;
}
// Positionierung der Login und Signup Box für die Animation
.signup,
.login {
position: relative;
  width: 100%;
  height: 100%;
}

// Überschriften für die Input Felder (Login und Signup)
label {
color: #6d6565;
  text-shadow: 1px 1px 2px #6d7f5584;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

// Input Felder und Team Auswahlfeld
select,
input {
width: 60%;
  height: 40px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
}
// Singup und Login Buttons
.loginwrap button {
width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  margin-top: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
  background-color: rgb(194, 194, 151);
}


.loginwrap button:hover {
background-color: #0056b3;
}

.formOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.login {
background: #eee;
  border-radius: 15px;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
// Login fährt nach oben nach dem Klick
#chk {
display: none;
}
#chk:checked ~ .login {
transform: translateY(-500px);
}

#chk:checked ~ .login label {
transform: scale(1);
}

#chk:checked ~ .signup label {
  transform: scale(0.6);
}


html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

:root {
  font-size: 62.5%;
}

header {
  background-color: #f5cfb0;
}

main {
  background-color: #f5cfb0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  font-size: 2rem;
  text-decoration: none;
  padding: 10px;
  color: white;
}
/* Login-Page-Design */
.login-box {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.login-box h1 {
  font-size: 5rem;
  margin-bottom: 20px;
  color: white;
}

.login-box input {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}

.login-box button {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #eb8c80;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.login-box p {
  font-size: 1rem;
}

.sign-up {
  display: inline;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 5px;
}

.forget-password {
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin-top: -77px;
  justify-content: flex-end;
}

.login-bild {
  margin-top: 80px;
  width: 80%;
}

h2 {
  display: flex;
  font-size: 4.5rem;
  margin-top: 50px;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
  color: white;
}

.h2-pixel-headline {
  margin-top: 120px;
}

.box-info {
  display: flex;
  font-size: 2rem;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80vw;
}

.box1 {
  background-color: #eb8c80;
  display: flex;
  margin-top: -50px;
  padding-bottom: 50px;
  flex-direction: column;
  align-items: center;
}

.img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1 img {
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  width: 40%;
}

h3 {
  display: flex;
  font-size: 3rem;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.img-box p {
  font-size: 2rem;
  text-align: center;
  width: 60vw;
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box2 img {
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  width: 90%;
}

.box3 {
  display: flex;
  background-color: #eb8c80;
  flex-direction: column;
  align-items: center;
}

.box3 img {
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  width: 90%;
}

/* Für mobile Geräte, größere Bildschirme */
@media (min-width: 600px) {
  nav ul {
    justify-content: flex-end;
  }

  nav ul li {
    margin-right: 15px;
  }
/* Login-Formula + Bild */
  .login-box {
    margin-top: 5vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 7vw;
  }

  .login-formula {
    order: 1;
  }

  .login-box h1 {
    font-size: 7vw;
  }

  .login-box input {
    width: 45vw;
  }

  .login-box button {
    font-size: 2rem;
  }

  .login-box p {
    font-size: 1.5rem;
  }

  .sign-up {
    font-size: 1.5rem;
  }

  .forget-password {
    font-size: 1.5rem;
  }

  .login-bild {
    margin-top: 1vh;
    width: 50%;
  }
/* Pixel-Wars Info Box */
  h2 {
    font-size: 6vh;
  }

  .box-info {
    font-size: 2vh;
    margin-bottom: 20px;
  }

  .img-boxen {
    display: flex;
  }

  .box1 img {
    width: 50%;
  }

  h3 {
    font-size: 3vh;
  }

  .img-box p {
    font-size: 1.5vh;
    padding: 5%;
    width: 30vw;
  }

  .box2 img {
    width: 70%;
  }

  .box3 img {
    width: 70%;
  }
}

#stars,
#stars2,
#stars3 {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#stars {
  width: 5px;
  height: 5px;
  background: transparent;
  box-shadow: 100px 200px rgba(113, 124, 179, 0.25),
    250px 400px rgba(209, 100, 91, 0.25), 300px 50px rgba(231, 200, 140, 0.25),
    800px 300px rgba(240, 154, 100, 0.25), 700px 500px rgba(50, 150, 148, 0.25),
    50px 600px rgba(148, 93, 78, 0.25), 600px 150px rgba(235, 140, 128, 0.25),
    950px 450px rgba(113, 124, 179, 0.25), 400px 800px rgba(209, 100, 91, 0.25),
    500px 200px rgba(231, 200, 140, 0.25), 850px 650px rgba(240, 154, 100, 0.25),
    750px 50px rgba(50, 150, 148, 0.25), 650px 900px rgba(148, 93, 78, 0.25),
    200px 100px rgba(235, 140, 128, 0.25), 850px 150px rgba(113, 124, 179, 0.25),
    300px 500px rgba(209, 100, 91, 0.25), 100px 850px rgba(231, 200, 140, 0.25),
    400px 600px rgba(240, 154, 100, 0.25), 500px 750px rgba(50, 150, 148, 0.25),
    700px 950px rgba(148, 93, 78, 0.25), 800px 1050px rgba(235, 140, 128, 0.25),
    150px 1100px rgba(113, 124, 179, 0.25),
    900px 1150px rgba(209, 100, 91, 0.25),
    1000px 1200px rgba(231, 200, 140, 0.25),
    750px 1250px rgba(240, 154, 100, 0.25),
    500px 1300px rgba(50, 150, 148, 0.25), 200px 1350px rgba(148, 93, 78, 0.25),
    300px 1400px rgba(235, 140, 128, 0.25),
    450px 1450px rgba(113, 124, 179, 0.25),
    600px 1500px rgba(209, 100, 91, 0.25),
    700px 1550px rgba(231, 200, 140, 0.25),
    800px 1600px rgba(240, 154, 100, 0.25);
}

#stars2 {
  width: 10px;
  height: 10px;
  background: transparent;
  box-shadow: 50px 750px rgba(113, 124, 179, 0.5),
    800px 400px rgba(209, 100, 91, 0.5), 1300px 600px rgba(231, 200, 140, 0.5),
    1400px 50px rgba(240, 154, 100, 0.5), 150px 500px rgba(50, 150, 148, 0.5),
    250px 850px rgba(148, 93, 78, 0.5), 500px 900px rgba(235, 140, 128, 0.5),
    1600px 50px rgba(113, 124, 179, 0.5), 950px 800px rgba(209, 100, 91, 0.5),
    700px 150px rgba(231, 200, 140, 0.5), 1650px 300px rgba(240, 154, 100, 0.5),
    200px 950px rgba(50, 150, 148, 0.5), 1750px 400px rgba(148, 93, 78, 0.5),
    100px 600px rgba(235, 140, 128, 0.5), 850px 150px rgba(113, 124, 179, 0.5),
    300px 1050px rgba(209, 100, 91, 0.5), 1000px 450px rgba(231, 200, 140, 0.5),
    1700px 250px rgba(240, 154, 100, 0.5), 900px 750px rgba(50, 150, 148, 0.5),
    800px 500px rgba(148, 93, 78, 0.5), 400px 800px rgba(235, 140, 128, 0.5),
    200px 1150px rgba(113, 124, 179, 0.5), 600px 1000px rgba(209, 100, 91, 0.5),
    300px 1200px rgba(231, 200, 140, 0.5), 850px 100px rgba(240, 154, 100, 0.5),
    750px 600px rgba(50, 150, 148, 0.5), 150px 1300px rgba(148, 93, 78, 0.5),
    950px 200px rgba(235, 140, 128, 0.5), 450px 1250px rgba(113, 124, 179, 0.5),
    1050px 300px rgba(209, 100, 91, 0.5), 1500px 700px rgba(231, 200, 140, 0.5),
    1600px 1600px rgba(240, 154, 100, 0.5);
}

#stars3 {
  width: 20px;
  height: 20px;
  background: transparent;
  box-shadow: 200px 950px rgba(113, 124, 179, 1),
    1400px 500px rgba(209, 100, 91, 1), 1600px 800px rgba(231, 200, 140, 1),
    1100px 50px rgba(240, 154, 100, 1), 300px 700px rgba(50, 150, 148, 1),
    1850px 450px rgba(148, 93, 78, 1), 800px 400px rgba(235, 140, 128, 1),
    50px 600px rgba(113, 124, 179, 1), 900px 300px rgba(209, 100, 91, 1),
    250px 150px rgba(231, 200, 140, 1), 600px 950px rgba(240, 154, 100, 1),
    1000px 800px rgba(50, 150, 148, 1), 150px 50px rgba(148, 93, 78, 1),
    500px 600px rgba(235, 140, 128, 1), 450px 750px rgba(113, 124, 179, 1),
    700px 400px rgba(209, 100, 91, 1), 400px 1050px rgba(231, 200, 140, 1),
    1800px 650px rgba(240, 154, 100, 1), 1400px 200px rgba(50, 150, 148, 1),
    1700px 150px rgba(148, 93, 78, 1), 850px 700px rgba(235, 140, 128, 1),
    150px 400px rgba(113, 124, 179, 1), 100px 250px rgba(209, 100, 91, 1),
    1600px 300px rgba(231, 200, 140, 1), 950px 500px rgba(240, 154, 100, 1),
    200px 1000px rgba(50, 150, 148, 1), 800px 150px rgba(148, 93, 78, 1),
    450px 400px rgba(235, 140, 128, 1), 1500px 950px rgba(113, 124, 179, 1),
    1300px 300px rgba(209, 100, 91, 1), 1400px 200px rgba(231, 200, 140, 1),
    1700px 150px rgba(240, 154, 100, 1);
}
