// Navbar Styling 
#navbar{
  width: 8vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#f5cfb091;
  
  position: fixed;
  left: 0;
  top: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  gap: 3em;
}
nav a {
  text-decoration: none;
  color: rgb(63, 24, 0);
  padding: 0.5em;
  font-size: 1.1em;
}

nav li a {
  display: block;
  padding: 0.25em;
  text-decoration: none;
}

nav li a:hover {
  text-shadow: 1px 1px 3px black;
  color: rgb(252, 255, 216);
  transform: scale(1.5) translateX(1.2em);
  transition: transform 0.5s ease-in-out, color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
  text-decoration: underline 3px red;
}

nav li a {
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
  text-decoration: none;
}

nav li {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.8em;
  cursor: pointer;
}

button li {
  font-family: 'Press Start 2P', sans-serif;
  cursor: pointer;
}