#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

h1 {
  color: #b49663;
  padding: 0.5em;
  margin: 0.5em;
}

h2 {
  color: #272117;
  padding: 0.5em;
  margin: 0.5em;
}
h3 {
  color: #e3c34d;
  padding: 0.5em;
  margin: 0.5em;
}
p {
  color: #ffa600;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1.2em;
}
.card {
  padding: 1em;
}

#ws-box {
  padding: 0.5em;
  margin: 1em;
  border: 1px solid #2d2b2b;
  border-radius: 0.5em;
  color: #2d2b2b;
  background-color: #ffdea1;
}

#mongodb-box {
  padding: 0.5em;
  margin: 1em;
  border: 1px solid #2d2b2b;
  border-radius: 0.5em;
  color: #2d2b2b;
  background-color: #ffdea1;
}

.color-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em 0;
}
